/* Réinitialisation CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
}
/**/
header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 20px 0;
    text-align: center;
}
/*taille du texte*/
h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #000000;
}
/*modifie l'image*/
.troll {
    justify-content:center;
    align-items: center;
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
}
 .lignee{
    text-align: center;
    color: #ffffff;
}
.bonhomme img{
    align-items: center;
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
}
.boucle {
    align-items: center;
    /*background-image: url(../images/KSYL.gif);*/
    justify-content: center;
    display: flex;
}
.titre{
    text-align: center;
}
.pagehome{
    background-color: #000000;
}
.bouffonn{
    text-align: center;
}
.main{
    align-items: center;
    justify-content: center;
    display: flex;
}
.logoo{
    justify-content: flex-start;
    width: 100px;
    height: auto;
    display: flex;
    margin: auto;
}

